body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111;
}

.container {
  width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #555;
}

section {
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
}

video, audio {
  width: 100%;
}

